:root {  
  --pokemon-color-blue: #3B4CCA;
  --pokemon-color-blue-darker: #2d3a9e;
  --pokemon-color-yellow: #FFDE00;
  --pokemon-color-yellow-darker: #B3A125;
  --pokemon-color-red: #FF0000;
  --pokemon-color-red-darker: #cc0000;
}

body {
  font-family: Cutive Mono;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  border: blue;
}

h1 {
  font-family: VT323;
  letter-spacing: 1px;
  font-size: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokemon-button {
  background-color: #3B4CCA;
  color: white;
  font-family: VT323;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 5px 10px;
  padding: 1px, 1px, 1px, 1px;
  /* creates a "shadow" at the bottom and right of the button */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  /* rounds corners of button */
  border-radius: 3px;
}

.pokemon-button:hover,
.pokemon-button:focus {
  box-shadow: 3px 4px 6px 0 rgba(34, 60, 80, 0.5);
  cursor: crosshair;
}

.loading-message {
  display: none;
}

.selected {
  display: block;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
  }

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}
  
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.button {
  cursor: crosshair;
}

#image-container {
  display: flex;
  justify-content: center;
  max-width: 192px;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin: 0 auto;
  transform: translate(0, -50%);
}